# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-3.1.0/charts/library/common/values.schema.json
controllers:
  main:
    replicas: 2
    strategy: RollingUpdate
    containers:
      main:
        image:
          repository: ghcr.io/invakid404/invapaste
          tag: 0.0.22@sha256:58f9ebec10d8790e6bc03dbfefafc7b99f8466777fac3a9e60eb6e5cdd6c9a40
        envFrom:
          - secretRef:
              name: invapaste

defaultPodOptions:
  annotations:
    reloader.stakater.com/auto: "true"
  imagePullSecrets:
    - name: docker-config

service:
  main:
    controller: main
    ports:
      http:
        port: 8080

ingress:
  main:
    enabled: true
    className: tailscale
    annotations:
      tailscale.com/funnel: "true"
      tailscale.com/hostname: paste
    hosts:
      - host: paste.${TAILSCALE_DOMAIN}
        paths:
          - path: /
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - paste.${TAILSCALE_DOMAIN}
